{% extends "header.html" %}
{% block title %}Services Page{% endblock title %}
{% block head %}
<style>
   .form-control2, .form-label{
      margin-left: 37%;
   }
   .btn2{
    margin-left: 21%;
   }
   

</style>
{% endblock head %}
{% block page %}Services{% endblock page %}
{% block body %}
<div class="container">
<form action="/add/" method="post">
    {% csrf_token %}
    <div class="row">
    <div class="mb-3 col-md-7">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" class="form-control form-control2 ml-10" name="title" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    </div>
    <div class="row">
        <div class="mb-3 col-md-7">
        <label for="exampleFormControlTextarea1" class="form-label ml-10">Content</label>
        <textarea class="form-control form-control2" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      </div>
    <button type="submit" class="btn btn2 btn-primary">Submit</button>
</form>
</div>
{% endblock body %}
