{% extends "header.html" %}
{% block title %}Delete Blog{% endblock title %}
{% block head %}
<style>
   .form-control2, .form-label, .form-select {
      margin-left: 37%;
   }
   .btn2 {
      margin-left: 21%;
   }
</style>
{% endblock head %}
{% block page %}Delete Blog{% endblock page %}
{% block body %}
<div class="container">
    <form action="/delete/" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="mb-3 col-md-7">
                <label for="deleteblog" class="form-label">Title</label>
                <select name="deleteblog" class="form-select" id="deleteblog">
                    {% if user.is_superuser %}
                    {% if blogs|length > 1 %}
                    <option value="All">All</option>
                    {% endif %}
                    {% endif %}
                    {% for blog in blogs %}
                    {% if user.is_superuser %}
                    <option value="{{ blog.title }}">{{ blog.title }}</option>
                    {% else %}
                        {% if blog.user == user.username%}
                        <option value="{{ blog.title }}">{{ blog.title }}</option>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                      </select>
                    </div>
                  </div>
                  {% if blogs%}
                  <button type="button" class="btn btn2 btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Delete
                    </button>
                    {% endif %}
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h2>Are You Sure To Delete This Blog?</h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<code></code>
{% endblock body %}
